<section class="editNoteArea"> <!-- edit note -->
	<article>
		<!-- note bg color options -->
	</article>
	<article>
		<div class="noteBg center">
			<input class="textCenter" type="text" placeholder="{{current.title}}" value="{{current.title}}" maxlength="27" />		
			<textarea placeholder="{{current.content}}" rows="10" maxlength="100">{{current.content}}</textarea>
		</div>
		<button class="btn block center pointer" ng-click="edit">update</button>
		<span class="overlay" ui-sref="home"></span>
	</article>
	<article>
		<!-- font/text options -->
	</article>
</section>
