@import url(reset.css);
h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

.center {
  margin: 0 auto; }

.textLeft {
  text-align: left; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.clearFix {
  clear: both; }

.pointer {
  cursor: pointer; }

.block {
  display: block; }

.inlineBlock {
  display: inline-block; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.overlay {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85); }

html, body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 100%; }

.btn {
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: none;
  height: 50px;
  width: 50px;
  padding: 0; }

.cyan {
  background-color: #00FFFF; }

.yellow {
  background-color: #FFFF00; }

.green {
  background-color: #99FF66; }

.pink {
  background-color: #CC6699; }

.purple {
  background-color: #FF0099; }

.orange {
  background-color: #FF6600; }

.brass {
  background-color: #B5A642; }

.tan {
  background-color: #DB9370; }

header {
  background-color: #424242;
  height: 50px;
  width: 100%;
  color: #fff;
  line-height: 50px; }

.sidebar {
  width: 50px;
  position: fixed;
  top: 0;
  bottom: 0; }
  .sidebar i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 50px; }

.sidebar:hover {
  color: #fff; }

.addArea {
  left: 0;
  background-color: rgba(0, 255, 0, 0.5); }
  .addArea i {
    margin-left: 7px; }

.addArea:hover {
  background-color: lime;
  cursor: pointer; }

.deleteArea {
  right: 0;
  background-color: rgba(255, 0, 0, 0.5); }
  .deleteArea i {
    margin-left: 9px; }

.deleteArea:hover, .dragOver {
  background-color: red; }

.deleteArea:hover::before {
  content: "drag note here to delete";
  display: block;
  position: absolute;
  z-index: 10;
  width: 75px;
  right: 50px;
  color: #000; }

main > h1 {
  height: 50px;
  line-height: 50px; }
main .noteBg {
  width: 230px;
  height: 230px;
  padding: 10px; }
  main .noteBg input, main .noteBg textarea, main .noteBg p {
    width: 95%;
    padding: 5px 2.5%;
    font: inherit;
    border: none;
    background-color: inherit; }
  main .noteBg input {
    height: 18px;
    font-weight: bold; }
  main .noteBg textarea {
    margin-top: 10px;
    resize: none; }
  main .noteBg p:last-of-type {
    text-align: left;
    height: 170px;
    white-space: pre-wrap;
    overflow: hidden; }
main .displayNoteArea {
  margin: 0 5%; }
  main .displayNoteArea ul .grid {
    margin: .5%;
    vertical-align: top; }
main .newNoteArea > *, main .editNoteArea > * {
  vertical-align: top; }
main .newNoteArea article div, main .newNoteArea article button, main .newNoteArea article h2, main .newNoteArea article ul, main .editNoteArea article div, main .editNoteArea article button, main .editNoteArea article h2, main .editNoteArea article ul {
  position: relative;
  z-index: 100; }
main .newNoteArea article h2, main .editNoteArea article h2 {
  color: #fff; }
main .newNoteArea article .overlay, main .editNoteArea article .overlay {
  z-index: 90; }

.ng-enter {
  opacity: 0;
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in; }

.ng-enter-active {
  opacity: 1; }

.ng-enter-stagger {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s; }
