//// stylesheet for easy notes app ////

// import css files
@import "reset.css";
@import "global";
//@import "../libs/foundation-icon-fonts/foundation-icons";

// variables
$grey: #424242;
$noteHW: 250px;

//// tag selectors ////
html, body {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 100%;
}


//// class selectors ////
.btn {
	@include borderRadius(100%);
	border: none;
	height: 50px;
	width: 50px;
	padding: 0;
	
}

// note colors
.cyan
{
	background-color: #00FFFF;
}

.yellow
{
	background-color: #FFFF00;
}

.green
{
	background-color: #99FF66;
}

.pink
{
	background-color: #CC6699;
}

.purple
{
	background-color: #FF0099;
}

.orange
{
	background-color: #FF6600;
}

.quartz {
	background-color: #D9D9F3;
}

.tan {
	background-color: #E8C2A6;
}


//// main header styles ////
header {
	background-color: $grey;
	height: 50px;
	width: 100%;
	color: #fff;
	line-height: 50px;
}


//// nav styles ////
.sidebar {
	width: 50px;
	position: fixed;
	top: 0;
	bottom: 0;
	i {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		font-size: 50px;
	}
}

.sidebar:hover {
	color: #fff;
}

.addArea {
	left: 0;
	background-color: rgba(0,255,0,.50);
	i {
		margin-left: 7px;
	}
}

.addArea:hover {
	background-color: rgb(0,255,0);
	cursor: pointer;
}

.deleteArea {
	right: 0;
	background-color: rgba(255,0,0,.50);
	i {
		margin-left: 9px;
	}	
}

.deleteArea:hover, .dragOver {
	background-color: rgb(255,0,0);
}

.deleteArea:hover::before {
	content: "drag note here to delete";
	display: block;
	position: absolute;
	z-index: 10;
	width: 75px;
	right: 50px;
	color: #000;
	//white-space: nowrap;
}


//// main content styles ////
main {

	> h1 {
		height: 50px;
		line-height: 50px;
		//width: 100%;	
	}

	.noteBg {
		width: $noteHW;
		height: $noteHW;
		padding: 10px;
		input, textarea, p {
			width: 95%;
			padding: 5px 2.5%;
			font: inherit;
			border: none;
			background-color: inherit;
		}
		input {
			height: 18px;
			font-weight: bold;
		}
		textarea {
			margin-top: 10px;
			//height: 182px;
			resize: none;
		}
		p:last-of-type {
			text-align: left;
			height: 170px;
			white-space: pre-wrap;
			overflow: hidden;
		}
	}

	.displayNoteArea	{
		margin: 0 5%;
		ul {
			//width: 90%;
			//padding: 0 auto 0 20%;
			.grid {
				//float: left;
				margin: .5%;
				vertical-align: top;
			}
		}
	}
	
	.newNoteArea, .editNoteArea {
		@extend .absoluteCenter;
		width: 520px;
		height: 320px;
		
		> * {
			vertical-align: top;
			margin: 0 5px 0;
		}
		article {
			div, button, h2, ul {
				position: relative; //has to be relative to display properly
				z-index: 100;
			}
			ul {
				width: 120px;
				li {
					height: 50px;
					margin: 2px;
				}
			}
			h2 {
				color: #fff;
			}
			button {
				margin: 5px auto;
			}
			.overlay {
				z-index: 90;
			}
		}
		article:last-of-type {
			width: 120px;
			height: 240px;
		}
	}
}


//////////////////////////////
//  responsive break points //
//////////////////////////////
@media screen and (min-width: 401px) {

}

@media screen and (min-width: 801px) {

}

@media screen and (min-width: 1201px) {

}

@media screen and (min-width: 1601px) {

}


//////////////////////////////
//  				animation 			//
//////////////////////////////

.ng-enter {
	opacity: 0;
	transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
}

.ng-enter-active {
	opacity: 1;
}

.ng-enter-stagger {
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
}









