@import url(reset.css);
h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

.center {
  margin: 0 auto; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.pointer {
  cursor: pointer; }

.block {
  display: block; }

.inlineBlock {
  display: inline-block; }

.overlay {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85); }

html, body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 100%; }

header {
  background-color: #424242;
  height: 50px;
  width: 100%;
  color: #fff;
  line-height: 50px; }

nav {
  height: inherit;
  width: inherit; }
  nav ul {
    height: inherit;
    display: block;
    text-align: center;
    padding-top: 2px; }
    nav ul li {
      height: inherit;
      display: inline-block;
      cursor: pointer; }

main .grid {
  display: inline-block;
  padding: 5px; }
main .list {
  display: block; }
main ul {
  margin: 0 auto;
  text-align: center; }
main .noteBg {
  background-color: yellow;
  padding: 10px;
  margin: 0 auto; }
  main .noteBg input, main .noteBg textarea {
    width: 95%;
    padding: 5px 2.5%;
    font: inherit;
    border: none;
    background-color: inherit; }
  main .noteBg input {
    text-align: center;
    height: 18px;
    font-weight: bold; }
  main .noteBg textarea {
    margin-top: 10px;
    height: 182px;
    resize: none; }
  main .noteBg p {
    text-align: left; }
main .noteBgGrid {
  width: 230px;
  height: 230px; }
main .noteBgList {
  width: 500px;
  height: 50px;
  margin-bottom: 10px; }
main .noteCreate {
  text-align: center; }
  main .noteCreate article {
    display: inline-block; }
main section:first-of-type article {
  text-align: center; }
