//// stylesheet for easy notes app ////

// variables
$grey: #424242;

// html tags
html, body {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 100%;
}

h1 {
	font-size: 2.0em;
}

header {
	background-color: $grey;
	height: 40px;
	color: #FFF;
	text-align: center;
}

// class styles
.center {
	margin: 0 auto;
}

.notesWrap li {
	display: inline-block;
	padding: 10px;
}
